<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            <label>Email</label>
        <input type="email" name="email" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <p>¿No tienes cuenta? <a href="{{url_for('registro')}}">Registrarse</a></p>
        <button type="submit">iniciar Sesion</button>
    </form>
    
</body>
</html>