<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrase</title>
</head>
<body>
    <form action="/registrarse" method="POST">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="nombre" required>
        </div>
        <div>
            <label for="">Apellidos </label>
            <input type="text" name="apellidos" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div>
            <label>Password</label>
        <input type="password" name="password" required>
        </div>
        
      
        <button type="submit">enviar </button>
   
    
       

    </form>
</body>
</html>